table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid black;
}

th {
    width: 14%;
    background-color: cornflowerblue;
    color: white;
}

td {
    padding: 5px;
    font-size: large;
    font-weight: bold;
    text-align: start;
    vertical-align: top;
    height: 150px;
}